<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>
<body>
    <form action="/students" method="post">
        <div>
            Name
            <input type="text" name="name" id="", placeholder="xyz">
        </div>
        <div>
            Age
            <input type="number" name="age" id="", min="18" , max="35", placeholder="18">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>