<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="POST">
        <div>
            Name
            <input type="text" name="name">
        </div>
        <div>
            Email
            <input type="email" name="email">
        </div>
        <div>
            Age
            <input type="number" name="age">.
        </div>
        <div>
            Address
            <input type="text" name="address">
        </div>
        <div>
            Bio
            <input type="text" name="bio">
        </div>
        <div>
            Hobbies
            <input type="text" name="hobbies" id="">
        </div>
        <input type="submit" value="Submit">
    </form>
    <div>
        <a href="/users">Go back to User</a>
    </div>
</body>
</html>