<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="POST">
        <div>
            Name
            <input type="text" name="name" id="">
        </div>
        <div>
            Email
            <input type="email" name="email" id="">
        </div>
        <div>
            Age
            <input type="number" name="age" id="">
        </div>
        <div>
            Bio
            <textarea name="bio" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>